@import 'tailwindcss';

@plugin "daisyui" {
  themes: all;
   light --default,
    dark --prefersdark,
    cupcake; 
  }
 

.Toastify__toast {
  min-height: 1rem !important;
  margin-bottom: 0.5em !important;
}
.Toastify__toast .Toastify__toast-body {
  /* opacity: 0.7; */
  @apply text-sm leading-tight;
  font-family: theme(--font-sans);
}

.Toastify__toast-theme--dark {
}
.Toastify__toast-theme--light {
}
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast--info {
  /* @apply !alert !alert-info w-full; */
  background-color: theme('--color-info') !important;
  color: theme('--color-info-content') !important;
  border-radius: theme('--radius-box') !important;
}
.Toastify__toast--success {
  /* @apply !alert !alert-success w-full; */
  background-color: theme('--color-success') !important;
  color: theme('--color-success-content') !important;
  border-radius: theme('--radius-box') !important;
}
.Toastify__toast--warning {
  /* @apply !alert !alert-warning w-full; */
  background-color: theme('--color-warning') !important;
  color: theme('--color-warning-content') !important;
  border-radius: theme('--radius-box') !important;
}
.Toastify__toast--error {
  /* @apply !alert !alert-error w-full; */
  background-color: theme('--color-error') !important;
  color: theme('--color-error-content') !important;
  border-radius: theme('--radius-box') !important;
}

.f {
  @apply flex;
}

.fr {
  @apply flex-row;
}

.fc {
  @apply flex-col;
}

.fw {
  @apply flex-wrap;
}

.js {
  @apply justify-start;
}

.je {
  @apply justify-end;
}

.jc {
  @apply justify-center;
}

.jb {
  @apply justify-between;
}

.ja {
  @apply justify-around;
}

.is {
  @apply items-start;
}

.ist {
  @apply items-stretch;
}

.ie {
  @apply items-end;
}

.ic {
  @apply items-center;
}

.ib {
  @apply items-baseline;
}

.sa {
  @apply self-auto;
}

.ss {
  @apply self-start;
}

.se {
  @apply self-end;
}

.sc {
  @apply self-center;
}

.sb {
  @apply self-baseline;
}

.f1 {
  @apply flex-1;
}
