/*
    * This css was copy paste from
    * node_modules/@vue-js-cron/light/dist/light.css
    * and modified to use tailwindcss classes.
    */
.vcron-editor {
  @apply p-0;
  @apply flex flex-row justify-start items-center gap-1 text-sm flex-wrap;
}

.vcron-editor span:empty {
  @apply hidden;
}
.vcron-editor .vcron-select-container {
  display: inline-block;
  position: relative;
}
.vcron-editor .vcron-select-input {
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  @apply cursor-pointer border border-base-300 rounded px-2 text-primary bg-base-200;
}
.vcron-editor :not(.vcron-select-disabled).vcron-select-input {
  @apply cursor-pointer border border-base-300 rounded px-2 text-primary bg-base-200;
}

.vcron-editor :not(.vcron-select-disabled).vcron-select-input:hover {
  @apply bg-base-100;
  @apply border-base-300;
}

.vcron-editor .vcron-select-disabled {
  @apply bg-base-300 pointer-events-none;
}

/* First child of type span of .vcron-editor */
.vcron-editor > span {
  @apply text-sm opacity-70;
}

.vcron-editor :not(.vcron-select-disabled).vcron-select-input {
}
.vcron-editor :not(.vcron-select-disabled).vcron-select-input:hover {
}
.vcron-editor .vcron-select-list {
  position: absolute;
  top: 1.8em;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 100;
  @apply bg-base-100 border border-base-300 rounded px-1 pt-1 gap-1;
}
.vcron-editor .vcron-select-row {
  display: flex;
  @apply gap-1 mb-1;
}
.vcron-editor .vcron-select-col {
  flex-grow: 1;
  flex-basis: 0%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.2em 0.5em;
  text-align: center;
  @apply cursor-pointer transition-colors rounded;
  @apply text-base-content;
}
.vcron-editor .vcron-select-col:hover {
  @apply bg-primary;
}

.vcron-editor .vcron-select-selected {
  @apply bg-primary/20 border border-primary;
}

.vcron-editor .vcron-select-selected:hover {
  @apply bg-primary text-base-content;
}
.vcron-editor .vcron-l-spacer {
  display: inline-block;
  padding: 3px;
}
