@import 'tailwindcss';

/* https://www.youtube.com/watch?v=J3KFw5sih98 */
:root {
  --body-bg: var(--p-surface-50);
}

:root[class='dark'] {
  --body-bg: var(--p-surface-950);
}

body {
  background-color: var(--body-bg);
}

/* https://primevue.org/theming/styled/#scale */
html {
  font-size: 14px;
}

.f {
  @apply flex;
}

.fr {
  @apply flex-row;
}

.fc {
  @apply flex-col;
}

.fw {
  @apply flex-wrap;
}

.js {
  @apply justify-start;
}

.je {
  @apply justify-end;
}

.jc {
  @apply justify-center;
}

.jb {
  @apply justify-between;
}

.ja {
  @apply justify-around;
}

.is {
  @apply items-start;
}

.ist {
  @apply items-stretch;
}

.ie {
  @apply items-end;
}

.ic {
  @apply items-center;
}

.ib {
  @apply items-baseline;
}

.sa {
  @apply self-auto;
}

.ss {
  @apply self-start;
}

.se {
  @apply self-end;
}

.sc {
  @apply self-center;
}

.sb {
  @apply self-baseline;
}

.f1 {
  @apply flex-1;
}
